@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
  background-color: white;
  /* min-height: 100%; */
  /* background-image: url(../public/boop-bg.png);
  background-attachment: scroll; */
}

:root {
  --light: #9CECFB;
  --dark: #2d6ed6;
  --pink: #f146aa;
  --white: rgb(255, 255, 255);

  --border: rgb(3, 169, 244);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);

  --darker: rgb(20, 20, 20);
  --green: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);
  --teal: rgb(8, 145, 178);
  
  --c1: #000000;
  --c2: #2d6ed6;
  
  --left-color: var(--c1);
  --right-color: var(--c2);
}

@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

@keyframes blobAm {
  0% {
    border-radius: 19.3em 26.6em 15.42em 21.88em;
  }
  25% {
    border-radius: 18.68em 43.33em 16.26em 15.58em;
  }
  50% {
    border-radius: 12.44em 15.52em 69.42em 27.9em;
  }
  75% {
    border-radius: 35.78em 18.62em 12.12em 9.38em;
  }
  100% {
    border-radius: 19.3em 26.6em 15.42em 21.88em;
  }
}

.word {
  transition: opacity 250ms ease;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(
    to right,
    var(--teal),
    var(--green),
    var(--teal)
  );
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 100s linear infinite;
}

.fancy:hover > .uno {
  transform: translate(-130%, 70%) rotate(8deg);
}

.fancy:hover > .dos {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .tres {
  transform: translate(30%, 60%) rotate(-6deg);
}

.fancy:hover > .quattro {
  transform: translate(50%, -38%) rotate(-8deg);
}

.fancy:hover > .sinko {
  transform: translate(90%, 30%) rotate(5deg);
}

.wrapper {
  height: 100vh;
  perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapperForParallax {
  transform-style: preserve-3d;
  height: 100%;
}

.blobUno {
  background-image: url(../public/blobUnoComp.png);
  transform: translateZ(-10px) scale(4);
}

.blobBackground {
  animation: blobAm 8s ease-in-out infinite;
  transform: translateZ(-6px) scale(1.5);
}

.tele {
  background-image: url(../public/tele.svg);
  transform: translateZ(-2px) scale(1.5);

}
.line {
  background-image: url(../public/lines.svg);
  transform: translateZ(-4px) scale(2.5);
  rotate: -35deg;
}

.planet {
  background-image: url(../public/planet.svg);
  transform: translateZ(-7px) scale(3);
}

.moon {
  background-image: url(../public/moon.png);
  transform: translateZ(-5px) scale(3);
}

.rocket {
  background-image: url(../public/rocket.svg);
  transform: translateZ(-2px) scale(1.5);
  rotate: 18deg;
}

.spaceman {
  background-image: url(../public/spaceman.svg);
  transform: translateZ(-4px) scale(1.5);
}

.foreground {
  transform: translateZ(0px) scale(2);
}

@media screen and (max-width: 768px) {
  .blobUno {
    transform: translateZ(-10px) scale(2);
  }

  .blobBackground {
    animation: blobAm 8s ease-in-out infinite;
    transform: translateZ(-3px) scale(1.25);
  }
  
  .tele {
    background-image: url(../public/tele.svg);
    transform: translateZ(-2px) scale(0.75);
  
  }
  .line {
    background-image: url(../public/lines.svg);
    transform: translateZ(-4px) scale(1.1);
    rotate: -35deg;
  }
  
  .planet {
    background-image: url(../public/planet.svg);
    transform: translateZ(-7px) scale(2);
  }
  
  .moon {
    background-image: url(../public/moon.png);
    transform: translateZ(-5px) scale(1.75);
  }
  
  .rocket {
    background-image: url(../public/rocket.svg);
    transform: translateZ(-2px) scale(0.6);
    rotate: 18deg;
  }
  
  .spaceman {
    background-image: url(../public/spaceman.svg);
    transform: translateZ(-4px) scale(0.75);
  }
}